#set($layout = "/layout/layout.vm")
#set($pageTitle = "资源管理 - 导入")
#set($pageScript = "pages/zookeeper/zk/add_batch")


<form class="form-horizontal">
  
    <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">ipport</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ipport" placeholder="" value = "$!{ipport}" readonly="readonly">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">内容</label>
        <div class="col-sm-6">
          
            <textarea name="data" rows="" cols=""></textarea>
        </div>
    </div>
  

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="button" class="btn btn-default" role="cancel">取消</button>
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>

</form>