#set($layout = "/layout/layout.vm")
#set($pageTitle = "应用管理列表")
#set($pageScript = "pages/gateway/app/list")


<form class="form-inline clearfix" role="search">

  <div class="form-group">
    <label class="control-label">app搜索</label>
    <input type="text" class="form-control" style="width:150px;" name="name" placeholder="请输入app名称" value = "" maxlength="15">
    <input type="hidden" name="status" value=1>
  </div>

  <div class="form-group pull-right">
    <button class="btn btn-success" type="submit">查询</button>
    <button class="btn btn-default" type="button" role="add">新增APP应用</button>
  </div>

</form>
<hr>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>APP</th>
      <!--<th>APP描述</th> -->
      <th>用户</th>
      <th>app_key</th>
      <th>app_secret</th>
      <th>授权类型</th>
      <!-- <th>分组状态</th> -->
      <th>创建者</th>
      <!-- <th>修改者</th> -->
      <th>创建时间</th>
      <!-- <th>修改时间</th> 
      <th>版本号</th> -->
      <th>操作</th>
    </tr>
  </thead>
  <tbody role="list">
  	  
  </tbody>
</table>
<div class="clearfix">
  <nav class="page-box pull-right"></nav>
</div>

<script id="listTmpl" type="text/template">
<% _.forEach(list, function(row,index) { %>
  <tr>
      <td><%= index +　1  + offset %></td>
      <td><%= row.name%></td>
      <!-- <td><%= row.description%></td> -->
      <td><%= row.partnerName%></td>
      <td><%= row.appKey%></td>
      <td><%= row.appSecret%></td>
      <td><%= row.authType==0?"全部授权":"分级授权" %></td>
	  <!-- <td><%= row.status==0?"删除":"正常" %></td> -->
	  <td><%= row.createBy==null?'--':row.createBy %></td>
	  <!-- <td><%= row.updateBy==null?'--':row.updateBy %></td> -->
	  <td><%= row.cdt %></td>
	  <!-- <td><%= row.udt %></td>
	  <td><%= row.version %></td> -->
      <td>
       <!--   <a href="javascript:" data-id="<%= row.id %>" role="delete">删除</a> -->
          <a href="javascript:" data-id="<%= row.id %>" role="edit">编辑</a>
          <a href="javascript:" data-id="<%= row.id %>" role="authorize">授权</a>
      </td>
  </tr>
<% }) %>
</script>