#set($layout = "/layout/layout.vm")
#set($pageTitle = "修改标签")
#set($pageScript = "pages/gateway/mark/edit")

<form class="form-inline clearfix" role="search">
<input type="hidden" name="status" value=1>
</form>
<form class="form-horizontal">


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            修改标签
        </h3>
    </div>
    <div class="panel-body">
    
    <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">
        <a href="#" class="tooltip-test" data-html="true" data-toggle="tooltip" title="<div style='width:190px;text-align:left;'>
        如果不选择,创建一级标签<br>
        如果选择,创建二级标签
        </div>"><span class="glyphicon glyphicon-question-sign"></span></a>
        一级标签</label>
        <div class="col-sm-6">
            <select id="rootId" class="form-control" name="rootId" role="rootId" style="width:220px;height:33px;">
            	<option value="0" >全部</option>
            	 #foreach($r in $root)
			       <option value=$!r.id   #if($r.id == $gatewayMark.rootId) selected #end>$!r.name</option>
			     #end  
            </select>
        </div>
    </div>
 
	<div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">
        <a href="#" class="tooltip-test" data-html="true" data-toggle="tooltip" title="<div style='width:190px;text-align:left;'>
        如果不选择,创建二级标签<br>
        如果选择,创建三级标签
        </div>"><span class="glyphicon glyphicon-question-sign"></span></a>
        二级标签</label>
        <div class="col-sm-6">
            <select id="branchId" class="form-control" name="branchId" role="branchId" style="width:220px;height:33px;">
            	<option value="0" >全部</option>
            	 #foreach($b in $branch)
			       <option value=$!b.id   #if($b.id == $gatewayMark.branchId) selected #end>$!b.name</option>
			     #end  
            </select>
        </div>
    </div>
	
    <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">
        标签名称</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="name" name="name" placeholder="请输入标签名称" value="$!{gatewayMark.name}" maxlength="20">
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">标签描述</label>
        <div class="col-sm-6">
            <textarea  class="form-control" id="desc" name="desc" placeholder="请输入标签描述信息" rows="8">$!{gatewayMark.desc}</textarea>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">标签状态</label>
        <div class="col-sm-6">
        <label class="radio-inline">
        <input type="radio" name="status" id="status1" value="0" disabled> 删除
    	</label>
    	<label class="radio-inline">
        <input type="radio" name="status" id="status2" value="1" checked> 正常
    	</label>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="button" class="btn btn-default" role="cancel">取消</button>
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
</form>
</div>
</div>